/* 通用样式 */
* {
    margin: 0;
    padding: 0;
}
body {

    font: 14px/24px Georgia, "Times New Roman",
    "Microsoft YaHei", "微软雅黑",
    STXihei, "华文细黑",
    serif;
}
.wp {
    width: 960px;
    margin: 0 auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

/* header */

/* top */
.top {
    width: 100%;
    height: 24px;
    line-height: 24px;
    background: #231F20;
    color: #ffffff;
}

.top a {
    text-decoration: none;
    color: #ffffff;
}

.top a:hover {
    color: #AB8751;
}

/* logos */
.logos {
    width: 100%;
    height: 105px;
    background: #E1DEDE;
    color: #F8F8F8;
}
.logos .logo {
    margin-top: 24px;
    height: 57px;
    line-height: 57px;
}
.logos .phone {
    margin-top: 30px;
    height: 45px;
    line-height: 45px;
    margin-right: 50px;
}
.logos .qr_code {
    height: 89px;
    line-height: 89px;
    margin-top: 8px;
}

/* nav */
.nav {
    width: 100%;
    line-height: 60px;
    background: #231F20;
}

.nav ul {
    height: 60px;
}

.nav li {
    float: left;
    list-style: none;
    line-height: 60px;
    padding-left: 25px;
    margin-left: 16px;
    margin-right: 16px;

    /*background: url("../images/menu_icon_home.png") center left no-repeat;*/
}
.nav li#home {
    background: url("../images/menu_icon_home.png") 0px 19px no-repeat;
}
.nav li#story {
    background: url("../images/menu_icon_story.png") 0px 21px no-repeat;
}
.nav li#lesson {
    background: url("../images/menu_icon_lesson.png") 3px 19px no-repeat;
}
.nav li#project {
    background: url("../images/menu_icon_project.png") 0px 19px no-repeat;
}
.nav li#show {
    background: url("../images/menu_icon_show.png") 0px 19px no-repeat;
}
.nav li#case {
    background: url("../images/menu_icon_case.png") -1px 19px no-repeat;
}
.nav li#contact {
    background: url("../images/menu_icon_contact.png") 0px 19px no-repeat;
}

.nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-style: normal;
}
.nav li a:hover {
    text-decoration: #AB8751;

}

/*footer*/
.footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background: #231F20;
    height: 82.7px;

    /*margin-bottom: 115px;*/
}
.footer img {
    width: 960px;
    min-width: 960px;
    height: 82.7px;

}
