div .nav .wp ul #lesson a{
    color: #AB8751;
}

.center {
    margin-top: 50px;
}

/*intro*/
.intro {
    margin-top: 50px;
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.intro .intro_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
}

.intro .content {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.intro .content::after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #AB8751;
    position: absolute;
    left: 6px;
    top: 7px;
}

.intro .detail_lr {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro .detail_single {
    margin-top: 5px;
}

.intro #content1 {
    margin-right: 100px;
}

.intro .detail_lr span {
    font-size: 16px;
    line-height: 22px;
    color: #000;
    padding: 5px 0px 5px 0px;
}


.intro .detail_single span {
    font-size: 16px;
    line-height: 22px;
    color: #000;
}



.intro .content_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro .content_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro .title {
    font-size: 20px;
    line-height: 28px;
    color: #6f534d;
}


/*teacher*/
.center .teacher {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 240px;
}

.teacher .teacher_left {
    width: 480px;
    display: flex;
    flex-direction: column;
    background: url("../images/lesson_teacher_bg1.png");
    justify-content: center;
    align-items: center;
}

.teacher_left img {
    width: 150px;
    height: 150px;
}
.teacher_left span {
    color: white;
    margin-top: 10px;
}

.teacher .teacher_right {
    width: 480px;
    background: url("../images/lesson_teacher_bg2.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teacher_right .award {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}

.teacher_right span{
    color: white;
    margin-left: 40px;
}

.teacher_right .title {
    font-size: 20px;
    margin-top: 10px;
}

.teacher_right button {
    background: #AB8751;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    width: 80px;
    height: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
}

/*feature*/
.feature {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature .feature_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.feature .feature_right .title {
    font-size: 20px;
    line-height: 24px;
}
.feature .feature_right .desc {
    font-size: 15px;
    line-height: 20px;
    color: #7f7f7f;
}



/*compare */

.compare {
    margin-top: 50px;
}
.compare img {
    width: 960px;
}

.center .learn_ad {
    margin-top: 50px;
    background: url("../images/lesson_learn_ad.png") no-repeat;
    background-size: contain;
    width: 960px;
    height: 240px;
    position: relative;
}

.center .learn_ad button {
    position: absolute;
    right: 357px;
    bottom: 14px;
    height: 37px;
    width: 116px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.center .open {
    margin-top: 50px;
    background: url("../images/lesson_open.png") no-repeat;
    height: 285px;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
}

.center .open #name {
    right: 184px;
    bottom: 167px;
    width: 100px;
    height: 18px;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 3px;
    background: rgba(255,255,255,0.3);
}
.center .open #email {
    right: 184px;
    bottom: 133px;
    width: 100px;
    height: 18px;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 3px;
    background: rgba(255,255,255,0.3);
}
.center .open #number {
    right: 184px;
    bottom: 99px;
    width: 100px;
    height: 18px;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 3px;
    background: rgba(255,255,255,0.3);
}

.center .open .radio_box {
    color: white;
    right: 183px;
    bottom: 69px;
    width: 100px;
    height: 16px;
    position: absolute;
    border: none;
    outline: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.center .open .select_box {
    color: white;
    right: 183px;
    bottom: 32px;
    width: 100px;
    height: 16px;
    position: absolute;
    border: none;
    outline: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

/*plan  */
.plan {
    margin-top: 50px;
}
.plan img {
    width: 960px;
}
.float {
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background: url("../images/lesson_float_ad.png") no-repeat center;
    width: 216px;
    /*height: 517px;*/
    height: 100%;
}
.float button {
    height: 517px;
    width: inherit;
    background: transparent;
    border: none;
    outline:none;
    cursor: pointer;
}