
div .nav .wp ul #project a{
    color: #AB8751;
}

div .menus {
    width: 972px;
    margin: 10px auto;
    height: 74px;;
    display: flex;
    justify-content: space-between;
    border: none;
}

div .menus .menu {
    width: 81px;
    height: 74px;
    border: none;
    outline: none;
    cursor: pointer;

}

div .items {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

div .items.selected{
    display: flex;
}

div .items .item {
    margin-top: 50px;
    width: 309px;
    height: auto;
}


div .items .item a {
    display: block;
    margin: 0 auto;
    width: inherit;
    text-align: center;
    text-decoration: none;
}